.foto{
    width: 300px;
    height: 220px;  
    margin: 30px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 20px rgb(122, 122, 122);
}   

.qrcode{
    margin-left: 680px;
    margin-top: 130px;
    margin-bottom: 30px;
}

.chave{
    margin: auto;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 2px black;
    width: 600px;
}

#qrcode_chave, #qrcode_chave2, #qrcode_chave3, #qrcode_chave4, #qrcode_chave5, #qrcode_chave6, #qrcode_chave7, #qrcode_chave8, #qrcode_chave9, #qrcode_chave10, #qrcode_chave11, #qrcode_chave12, #qrcode_chave13, #qrcode_chave14, #qrcode_chave15, #qrcode_chave16, #qrcode_chave17{
    position: absolute;
    display: none;
    background-color: rgba(0,0,0,0.7);
    margin-top: -710px;
    width: 1600px;
    height: 850px;  
}

#qrcode_chave{
    margin-left: -50px;
}

#qrcode_chave2{
    margin-left: -500px;
}

#qrcode_chave3{
    margin-left: -960px;
}

#qrcode_chave4{
    margin-left: -40px;
}

#qrcode_chave5{
    margin-left: -500px;
}

#qrcode_chave6{
    margin-left: -970px;
}

#qrcode_chave7{
    margin-left: -50px;
}

#qrcode_chave8{
    margin-left: -500px;
}

#qrcode_chave9{
    margin-left: -970px;
}

#qrcode_chave10{
    margin-left: -970px;
}

#qrcode_chave11{
    margin-left: -970px;
}

#qrcode_chave12{
    margin-left: -970px;
}

#qrcode_chave13{
    margin-left: -970px;
}

#qrcode_chave14{
    margin-left: -970px;
}

#qrcode_chave15{
    margin-left: -970px;
}

#qrcode_chave16{
    margin-left: -970px;
}

#qrcode_chave17{
    margin-left: -970px;
}

#voltar, #voltar2, #voltar3, #voltar4, #voltar5, #voltar6, #voltar7,
#voltar8, #voltar9, #voltar10, #voltar11, #voltar12, #voltar13, #voltar14, #voltar15, #voltar16, #voltar17{
    margin-top: 30px;
    background-color: bisque;
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    padding-left: 17px;
    padding-right: 17px;
    border: none;
    transition: 0.5s;
    margin-left: 750px;
    box-shadow: 1px 1px 10px grey;
    text-decoration: none;
    color: black;
}