#container{
    display: flex;
}

.card{
    height: 580px;
    width: 380px;
    background-color: white;
    box-shadow: 10px 10px 20px grey;
    margin: 40px;
    border-radius: 20px;
    transition: 0.5s;
    background-color: rgb(255, 238, 218);
}

#cartao{
    background-color: bisque;
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    padding-left: 17px;
    padding-right: 17px;
    border: none;
    transition: 0.5s;
    margin-left: 60px;
    box-shadow: 1px 1px 10px grey;
    text-decoration: none;
    color: black;
}

#pix{
    background-color: bisque;
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    padding-left: 17px;
    padding-right: 17px;
    border: none;
    transition: 0.5s;
    margin-top: 90px;
    margin-left: 75px;
    box-shadow: 1px 1px 10px grey;
    text-decoration: none;
    color: black;
}

#pix2{
    background-color: bisque;
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    padding-left: 17px;
    padding-right: 17px;
    border: none;
    transition: 0.5s;
    margin-top: 90px;
    margin-left: 75px;
    box-shadow: 1px 1px 10px grey;
    text-decoration: none;
    color: black;
}

#cartao:hover, #pix:hover{
    opacity: 0.7;
}

h2{
    color: rgb(236, 182, 117);
    text-align: center;
    text-shadow: 2px 2px 3px rgb(68, 68, 68);
    font-size: 30px;
    margin: 10px;
}

.preco{
    color: rgb(182, 100, 7);
    text-align: center;
    text-shadow: 2px 2px 3px rgb(68, 68, 68);
    font-size: 30px;
    margin-bottom: 35px;
}